{% extends "base.html" %}

{% block title %}<title>Log In</title>{% endblock title %}

{% block content %}

<div class="card bg-dark text-light mt-4 p-4 rounded-4 shadow-lg">

    <div class="border-bottom border-secondary pb-3 mb-4">
        <h2 class="m-0">Log in</h2>
    </div>

    <p class="text-muted mb-4">
        Welcome back!
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="row g-3">
            <div class="col-12">
                {{ form.username.errors }}
                {{ form.username.help_text }}
                <label class="d-block form-label text-muted">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="col-12">
                {{ form.password.errors }}
                <label class="d-block form-label text-muted">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
        </div>

        <div class="mt-4">
            <p class="m-0"><a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a></p>
            <p class="m-0 mt-2"><a href="{% url 'signup' %}" class="text-muted">Create an account</a></p>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <a href="{% url 'home' %}" class="btn btn-danger px-4">
                Cancel
            </a>

            <button type="submit" class="btn btn-success px-4">
                Confirm
            </button>
        </div>

    </form>

</div>

{% endblock content %}