{% extends "base.html" %}

{% block title %}<title>Enter new password</title>{% endblock title %}

{% block content %}

<div class="card bg-dark text-light mt-4 p-4 rounded-4 shadow-lg">

    <div class="border-bottom border-secondary pb-3 mb-4">
        <h2 class="m-0">Set a new password!</h2>
    </div>

    <p class="text-muted mb-4">
        Enter the email address linked to your account.
        We’ll send you a password reset link.
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="row g-3">
            <div class="col-12">
                {{ form.new_password1.errors }}
                {{ form.new_password1.help_text }}
                <label class="d-block form-label text-muted">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
            </div>
            <div class="col-12">
                {{ form.new_password2.errors }}
                <label class="d-block form-label text-muted">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <a href="{% url 'login' %}" class="btn btn-danger px-4">
                Cancel
            </a>

            <button type="submit" class="btn btn-success px-4">
                Confirm
            </button>
        </div>

    </form>

</div>
{% endblock content %}