{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card bg-dark text-light mt-4 p-4 rounded-4 shadow-lg">

    <div class="d-flex justify-content-between align-items-center border-bottom border-secondary pb-3 mb-4">
        <h2 class="m-0">Edit profile</h2>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="row g-3">

            <div class="col-12">
                <label class="form-label text-muted">Username</label>
                {{ form.username }}
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label text-muted">First name</label>
                {{ form.first_name }}
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label text-muted">Last name</label>
                {{ form.last_name }}
            </div>

            <div class="col-12">
                <label class="form-label text-muted">E-mail</label>
                {{ form.email }}
            </div>


        </div>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <a href="{% url 'account' object.pk %}" class="btn btn-danger px-4">Cancel</a>
            <button type="submit" class="btn btn-success rounded-2">Save changes</button>
        </div>

    </form>
</div>

{% endblock content %}