{% extends 'base.html' %}

{% load static %}

{% block title %} <title>Library</title> {% endblock title %}

{% block content %}
<div class="my-5">
    <div class="field_wrapper d-flex flex-column align-items-start gap-2">
        <h1 class="mb-0 mt-2">Library</h1>
        <p class="my-2">
            Discover public flashcard decks created by the community and start learning instantly.
        </p>

        <form method="get" class="d-flex flex-column gap-3 mt-5 mb-3">

            <div class="cefr_filters_wrapper d-flex gap-2 flex-wrap">
                {% for level in cefr_levels %}
                    <input
                        type="checkbox"
                        class="btn-check"
                        name="level"
                        value="{{ level }}"
                        id="level_{{ level }}"
                        {% if not selected_levels or level in selected_levels %}checked{% endif %}
                    >

                    <label
                        class="p-1 px-3 fs-6 fw-bold rounded toggle_filter_cefr toggle_filter_{{ level }}"
                        for="level_{{ level }}">
                        {{ level }}
                    </label>
                {% endfor %}

                <input
                    type="checkbox"
                    class="btn-check"
                    name="level"
                    value="None"
                    id="level_none"
                    {% if not selected_levels or "None" in selected_levels %}checked{% endif %}
                >

                <label
                    class="p-1 px-3 fs-6 fw-bold rounded toggle_filter_cefr toggle_filter_None"
                    for="level_none">
                    Unspecified
                </label>
            </div>

            <div class="range_wrapper">
                From
                <input type="number" name="min_words" value="{{ request.GET.min_words }}">
                to
                <input type="number" name="max_words" value="{{ request.GET.max_words }}">
                words
            </div>
            <button class="btn btn-secondary">Filter</button>
        </form>

    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
    {% for deck in deck_list %}

    <div class="col">
        <div class="card h-100 bg-dark text-light rounded border
        border-light border-opacity-25 border-2 deck-card position-relative">
            <a href="{% url 'deck_detail' deck.pk %}?next=library" class="text-decoration-none text-reset stretched-link"></a>

            <div class="card-header cefr_{{ deck.cefr_level }} rounded-top">
                <span class="m-0 fs-6 text-black fw-bold">
                    {% if deck.cefr_level != None %}
                    {{ deck.cefr_level }} - {{ deck.get_cefr_level_display }}
                    {% else %}
                    Not specified
                    {% endif %}
                </span>
            </div>

            <div class="card-body d-flex flex-column">

                <p class="small p-0 m-0">by {{ deck.author }}</p>

                <h2 class="card-title fw-bold fs-4 my-1">
                    {{ deck.title|truncatechars:50 }}
                </h2>

                <div class="card-text overflow-hidden">
                    {{ deck.cards.count }} words
                </div>

            </div>

        </div>
    </div>
    {% endfor %}


</div>
{% endblock content %}