{% extends 'base.html' %}

{% block title %}<title>Decks</title>{% endblock title %}

{% block content %}
<div class="py-5">
    <div class="field_wrapper d-flex flex-column align-items-start gap-2">
        <h1 class="mb-0 mt-2">My Decks</h1>
        <p class="my-2">
            Manage your personal flashcard decks in one place. Create new decks,
            edit existing ones, organize vocabulary by topic, and track your
            learning progress. Use your decks for daily practice or expand
            them anytime with new words and phrases.
        </p>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
    {% for deck in deck_list %}

    <div class="col">
        <div class="card h-100 bg-dark text-light rounded border
        border-light border-opacity-25 border-2 deck-card position-relative">
            <a href="{% url 'deck_detail' deck.pk %}" class="text-decoration-none text-reset stretched-link"></a>

            <div class="card-header cefr_{{ deck.cefr_level }} rounded-top">
                <span class="m-0 fs-6 text-black fw-bold">
                    {% if deck.cefr_level != None %}
                    {{ deck.cefr_level }} - {{ deck.get_cefr_level_display }}
                    {% else %}
                    Not specified
                    {% endif %}
                </span>
            </div>

            <div class="card-body d-flex flex-column">

                <h2 class="card-title fw-bold fs-4">
                    {{ deck.title|truncatechars:50 }}
                </h2>

                <div class="card-text overflow-hidden">
                    {{ deck.cards.count }} words
                </div>

            </div>

        </div>
    </div>
    {% endfor %}

    <div class="col">
        <div id="add-deck" class="card h-100 bg-dark text-light rounded border
        border-light border-opacity-25 border-2 deck-card position-relative add-deck-button-bg">
            <a href="{% url 'deck_create' %}" class="text-decoration-none text-reset stretched-link"></a>

            <div class="card-header cefr_None rounded-top">
                <span class="m-0 fs-6 text-black fw-bold">
                    &nbsp;
                </span>
            </div>

            <div class="card-body d-flex flex-column">

                <h2 class="card-title fw-bold fs-4">
                    Create a new deck
                </h2>

                <div class="card-text overflow-hidden">

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}