{% extends 'base.html' %}

{% block title %}<title>Decks</title>{% endblock title %}

{% block content %}
<div class=" mb-4 mt-5">
    <h1 class="display-5">My decks</h1>
</div>
<p class="mt-5">
    Manage your personal flashcard decks in one place. Create new decks,
    edit existing ones, organize vocabulary by topic, and track your
    learning progress. Use your decks for daily practice or expand
    them anytime with new words and phrases.
</p>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-5">
    {% for deck in deck_list %}
    <div class="col">
        <div class="card h-100 shadow-sm border-0 bg-dark text-light">
            <div class="card-header bg-transparent border-0 pt-3">
                <span class="badge fs-6 text-dark cefr_{{ deck.cefr_level }}">
                    {% if deck.cefr_level != None %}
                    {{ deck.cefr_level }} - {{ deck.get_cefr_level_display }}
                    {% else %}
                    Not specified
                    {% endif %}
                </span>
            </div>

            <div class="card-body pt-0">
                <h5 class="card-title h4">
                    <h2 class="text-light">
                        {{ deck.title }}
                    </h2>
                </h5>
                <p class="card-text">
                    {{ deck.description|truncatewords:20 }}
                </p>
            </div>

            <div class="card-footer bg-transparent border-0 pb-3 d-flex gap-2">
                <a href="{% url 'deck_detail' deck.pk %}" class="button">
                    Open Deck
                </a>
                <a href="{% url 'deck_edit' deck.pk %}" class="button">
                    Edit
                </a>
                <button class="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ deck.pk }}">
                    Delete
                </button>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12 text-center">
        <p class="lead text-muted">No decks found. Time to create one!</p>
    </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-end mt-4">
    <a href="{% url 'deck_create' %}" class="button button-darker">+ Create New</a>
</div>
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content bg-black border-light">
            <div class="modal-body">
                <h2>Are you sure?</h2>
                This action cannot be reverted...
            </div>
            <div class="modal-footer  border-0">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <form method="post" id="deleteForm">
                    {% csrf_token %}
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}